<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminheader.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
    <div class="container">
      <h1 class="logo">Medi Bot</h1>
      <nav>
        <ul>
          <li><a href="adminhome.html">Home</a></li>
          <li><a href="viewuser.html">View User</a></li>
          <li><a href="manageoption.html">Manage options</a></li>
          {% if request.session.is_admin %}
            <li><a href="logout.html">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>
