<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
    <div class="container">
      <h1 class="logo">Medi Bot</h1>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="bot.html">Bot</a></li>
          <li><a href="changePassword.html">Change Password</a></li>
          <li><a href="nearByhospital.html">Near By Hospitals</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>