<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Loginpage.css' %}">
    <script src="{% static 'js/Loginpage.js' %}"></script>
    <title>Login Page</title>
</head>
<body>
    <h1>Select Login Type</h1>
    <label for="basic-select" class="sr-only">Select something</label>
    <select id="basic-select">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
    <button id="proceed-btn">Proceed</button>

</body>
</html>
